<h1 class="text-center">新建机构员工客户缴费模板<br>
(机构名:<span class="entity-name-text"><%=@organization_customer.organization.name%> </span>
员工客户名:<span class="entity-name-text"><%=@organization_customer.name%></span>)
</h1>

<%= render 'form'  , editable: true%>
