<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<h1 class="text-center">用户登陆</h1>
<%= simple_form_for(@user, url: user_auth_path, method: :post  ) do |f| %>
  <div class="form-inputs">
    <%= f.input :logon_name,label: "登陆名", placeholder: "请输入登陆名" %>
    <%= f.input :password_digest, label: "密码" , placeholder: "请输入密码"%>
  </div>
  <div class="form-actions">
      <%= f.button :submit, "登陆" , class: "btn btn-primary btn-lg btn-block" %> 
  </div>
<% end %>

  <script type="text/javascript">
    $('#new_user').addClass("form-signin");
  </script>