<h1 class="text-center">填写机构其他提成单</h1>
<div class="col-xs-12">
<%= render 'organization_charge_others/table' , op_type: :display, organization_charge_others: [@organization_charge_other] %>
</div>
<%= render 'form' %>
