<%= simple_form_for @commission ||= Commission.new, :url => url, :method => :post, html: {class: 'form-inline' } do |f| %>
  <div class="form-inputs">
    资金到账日期从:
      <input class="string optional form-control dtp" size="10" type="text" value="<%=  @input_date_from ||= nil %>" id="dp1" data-date-format="yyyy-mm-dd" name="commission[input_date_from]">
      <span class="add-on"><i class="icon-th"></i></span>
    到:    
      <input class="string optional form-control dtp" size="10" type="text" value="<%=  @input_date_to ||= nil %>" id="dp2" data-date-format="yyyy-mm-dd"  name="commission[input_date_to]">
      <span class="add-on"><i class="icon-th"></i></span>&nbsp;&nbsp;
    <%= f.button :submit,"查询" , class: "btn btn-primary"  %>
  </div><br>
<%end%>
<script type="text/javascript">
$('.dtp').datepicker();
</script>