<h1 class="text-center">提成单记录列表(所有)&nbsp;
	<%= link_to "下载所有提成单记录>>", 
  commissions_list_total_path(format: :xls, input_date_from: @input_date_from, input_date_to: @input_date_to) , tabindex: "-1", class: "btn btn-primary btn-sm btn-warning" %>
</h1>

<%= render 'commissions/simple_query', url: :commissions_list_total%>

<%= render 'table', commissions: @commissions, op_type: :list_total %>