<h1 class="text-center">填写机构常规提成单</h1>
<div class="col-xs-12">
<%= render 'organization_charge_totals/table' , op_type: :display, organization_charge_totals: [@organization_charge_total] %>
</div>
<%= render 'form' %>

