<h1 class="text-center">设置提成单的业务员(机构客户名:<%=@organzation_commission.organization_charge_total.organization.name%>)</h1>
<%= simple_form_for(@organzation_commission, :url => organzation_commissions_set_user_path, :method => :patch) do |f| %>
  <div class="row">
    <%= f.collection_radio_buttons :user_id, User.all, :id, :name,  {:item_wrapper_tag => :div, :item_wrapper_class => "col-md-2", :wrapper => false}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "提交" , class: "btn btn-primary" %>
  </div>
<% end %>