<%= simple_form_for(@role) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, label: '名称' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"提交" , class: "btn btn-primary" %>
    <%= link_to '返回', roles_path, class: "btn btn-primary" %>
  </div>
<% end %>
