<h1 class="text-center">机构(<%=@organization.name%>)其他缴费历史记录</h1>
<%=render 'table', op_type: :list_by_organization, organization_charge_others: @organization_charge_others%>
<%= link_to '新增其他缴费', organization_charge_others_new_path(@organization), class:"actions btn btn-primary noprint" %>
