<h1 class="text-center">客户缴费记录列表</h1>
<%= render 'table' , op_type: :daily, charges: @charges %>
<%= paginate @charges %>
<br>
<%= link_to '新建', new_single_customer_charge_path, class: "btn active btn-primary btn-sm" %>